
<h1>Start Importing!</h1>

<p>
  You can check the progress at any time by visiting this URL: <code><%= import_url(@import.uuid) %></code>
</p>


<div class="row">
  <div class="col-md-2">
    <!--######################### FIELD NOTES #########################-->
    <p>
      Based on the resource type <%= @import.resource_type %>, here are the fields:
    <ul>
      <% @import.fields_for_csv[:required].each do |field| %>
          <li><%= field.keys.first %>:<%= field.values.first %>*</li>
      <% end %>
      <% @import.fields_for_csv[:suggested].each do |field| %>
          <li><%= field.keys.first %>:<%= field.values.first %> </li>
      <% end %>
    </ul>
    <span>* is required.</span>
    </p>

    <hr>
    <!--######################### RESOURCE TYPE DROPDOWN #########################-->

    <%= simple_form_for @import, url: import_path(@import.uuid) do |f| %>
        <%= f.input :resource_type, as: :select, collection: Import::RESOURCE_COLLECTION %>
    <% end %>
    <script>
        $(function() {
            $('#import_resource_type').change(function() {
                this.form.submit();
            });
        });
    </script>

    <hr>
    <!--######################### DATE FORMATTER #########################-->

    <div class="date-formatter" style="display:none;">
      <p>Select the Date format:</p>
      <select name="foo" id="date-formatter-select">
        <option value="MM/DD/YY">MM/DD/YY</option>
        <option value="MM/DD/YYYY">MM/DD/YYYY</option>
        <option value="DD/MM/YYYY">DD/MM/YYYY</option>
      </select>
      <p style="padding-top: 10px;">Live Preview:</p>
      <ul class="date-format-list">

      </ul>
      <script>
          $(function() {
              $('#date-formatter-select').change(function() {
                  var dateFormat = $(this).val();
                  $("#import_mapping").val(dateFormat);
                  $('.date-format-list li').each(function(i,obj){
                      console.log("format: "+dateFormat);
                      console.log("text: "+$(obj).text());
                      $(obj).children("span").text(" > "+ moment($(obj).text(), dateFormat).format());
                  });

              });
          });
      </script>
    </div>

    <!--######################### BEGIN PROCESSING FORM/BUTTON #########################-->

    <hr>

    <%= simple_form_for @import, url: import_path(@import.uuid) do |f| %>
        <%= f.input :subdomain %>
        <%= f.input :api_key %>
        <%= f.input :rows_to_process, placeholder: "Leave blank for all" %>
        <%= f.input :staging_run, label: false, inline_label: "Run against Staging instead of production" %>
        <%= f.input :mapping, as: :hidden, input_html: {value: @import.mapping} %>
        <%= f.input :data, as: :hidden, input_html: {value: @import.data} %>
        <%= f.submit "Process" , class: "btn btn-success"%>
    <% end %>

  </div>
  <div class="col-md-10">

    <div id="drop_zone" class="panel panel-success text-center" style="height: 100px;font-size: 24px;padding-top: 35px;">Drop files here</div>
    <output id="list"></output>
    <p>
      <span>Fields to Map:</span>
      <% if @import.resource_type != 'customer' %>
        <div class="label label-danger customer_field" style="padding: 5px;"><i class="fa fa-square-o"></i> customer_phone or customer_email</div>
    <% end %>
    <% @import.fields_for_csv[:required].each do |field| %>
        <div class="label label-danger field-label <%= field.keys.first %>" style="padding: 5px;"><i class='fa fa-square-o'></i> <%= field.keys.first %></div>
    <% end %>
    <% @import.fields_for_csv[:suggested].each do |field| %>
        <div class="label label-warning field-label <%= field.keys.first %>" style="padding: 5px;"><i class='fa fa-square-o'></i> <%= field.keys.first %></div>
    <% end %>

    </p>

    <div class="well processing" style="display:none;">
      <h2 class="processing">Processing...</h2>
      <h2 class="completed" style="display:none;">Done!</h2>
      Total: <div class="totals"></div> <br>
      Success Count: <div class="label label-success results"></div>  <br>
      Error Count: <div class="label label-danger results"></div>
      <p>Errors:</p>
      <ol>

      </ol>
      <p>
        Note: It IS safe to retry because we won't create duplicates for ticket number or invoice number, or customer phone/email.
      <ul>
        <li>number already taken is a duplicate ticket number</li>
        <li>customer_id required means we could not find a customer to attach them to</li>
        <li>'anything' cant be blank, add some filler in the spreadsheet</li>
      </ul>
      </p>
    </div>

    <div id="hot" style="overflow: scroll; height: 500px; width: 100%;" class="handsontable"></div>


  </div>
</div>

<div class="fields-list" data-required-fields="<%= @import.fields_for_csv[:required].map {|i| i.keys.first} %>" data-suggested-fields="<%= @import.fields_for_csv[:suggested].map {|i| i.keys.first.to_s} %>"></div>
<div class="cols-list" data-cols=""></div>


<script>
    $(function() {

        (function poll(){
            setTimeout(function(){
                $.ajax({
                    url: '<%= import_path(@import.uuid).html_safe %>/status_poll',
                    success: function(data){
                        if(data.record_count > 0 && data.record_count === (data.success_count+data.error_count)){
                            console.log(data);
                            if(data.record_count > 0){
                                $(".well.processing").show();
                            }
                            $(".totals").text(data.record_count);
                            $(".label-success.results").text(data.success_count);
                            $(".label-danger.results").text(data.error_count);
                            $("h2.processing").fadeOut();
                            $("h2.completed").fadeIn();
                            data.full_errors.forEach(function(obj){
                                console.log(obj);
                                $("ol").append('<li>' + obj + '</li>');
                            })
                        }
                        else{
                            if(data.record_count > 0){
                                $(".well.processing").show();
                            }
                            $(".totals").text(data.record_count);
                            $(".label-success.results").text(data.success_count);
                            $(".label-error.results").text(data.error_count);
                            console.log(data);
                            console.log("still polling...");
                            poll();
                        }
                    }, dataType: "json"});
            }, 4000);
        })();
    });

</script>
