
<h1>Start Importing!</h1>

<p>
  You can check the progress at any time by visiting this URL: <code><%= import_url(@import.uuid) %></code>
</p>


<div class="row">
  <div class="col-md-2">
    <!--######################### FIELD NOTES #########################-->
    <p>
      Based on the resource type <%= @import.resource_type %>, here are the fields:
    <ul>
      <% @import.fields_for_csv[:required].each do |field| %>
          <li><%= field.keys.first %>:<%= field.values.first %>*</li>
      <% end %>
      <% @import.fields_for_csv[:suggested].each do |field| %>
          <li><%= field.keys.first %>:<%= field.values.first %> </li>
      <% end %>
    </ul>
    <span>* is required.</span>
    </p>

    <% if @import.fields_for_csv[:example_file].present? %>
        <hr>
        <a href="<%= @import.fields_for_csv[:example_file].html_safe  %>" target="_blank">
          <%= image_tag "excel.png", style: "max-width: 40px;"%>
          Download Example
        </a>
    <% end %>

    <hr>
    <!--######################### RESOURCE TYPE DROPDOWN #########################-->

    <%= simple_form_for @import, url: import_path(@import.uuid) do |f| %>
        <%= f.input :resource_type, as: :select, collection: Import::RESOURCE_COLLECTION %>
    <% end %>
    <script>
        $(function() {
            $('#import_resource_type').change(function() {
                this.form.submit();
            });
        });
    </script>

    <hr>
    <!--######################### DATE FORMATTER #########################-->

    <div class="date-formatter alert alert-danger" style="display:none;">
      <p>Select the Date format:</p>
      <select name="foo" id="date-formatter-select">
        <option value="">Change Me</option>
        <option value="MM/DD/YY">MM/DD/YY</option>
        <option value="MM/DD/YYYY">MM/DD/YYYY</option>
        <option value="DD/MM/YYYY">DD/MM/YYYY</option>
      </select>
      <p style="padding-top: 10px;">Live Preview:</p>
      <ul class="date-format-list">

      </ul>
    </div>

    <!--######################### BEGIN PROCESSING FORM/BUTTON #########################-->

    <hr>

    <%= simple_form_for @import, url: import_path(@import.uuid), remote: true  do |f| %>
        <%= f.input :platform, collection: ['repairshopr','syncro'], input_html: {class: "bhv-blur-save"} %>
        <%= f.input :subdomain, input_html: {class: "bhv-blur-save"} %>
        <%= f.input :api_key, input_html: {class: "bhv-blur-save"} %>
        <%= f.input :rows_to_process, placeholder: "Leave blank for all" %>
        <%= f.input :staging_run, label: false, inline_label: "Run against Staging instead of production" %>
        <%= f.input :mapping, as: :hidden, input_html: {value: @import.mapping} %>
        <%= f.input :data, as: :hidden, input_html: {value: @import.data} %>
        <%= f.submit "Process" , class: "btn btn-success bhv-submit" %>

        <script>
            $(function() {
                $('.bhv-blur-save').blur(function() {
                    $(".bhv-submit").val("Process Update");
                    $(".bhv-submit").trigger('click.rails');
                    $(".bhv-submit").val("Process");
                });
            });
        </script>
    <% end %>
    <p class="bhv-progress"></p>
  </div>
  <div class="col-md-10">

    <div id="drop_zone" class="panel panel-success text-center" style="height: 100px;font-size: 24px;padding-top: 35px;">Drop files here</div>
    <output id="list"></output>
    <p>
      <span>Fields to Map:</span>
      <% if ['invoice','ticket'].include?(@import.resource_type) %>
        <div class="label label-danger customer_field" style="padding: 5px;"><i class="fa fa-square-o"></i> customer_phone or customer_email</div>
    <% elsif ['asset'].include?(@import.resource_type) %>
        <div class="label label-warning customer_field" style="padding: 5px;"><i class="fa fa-square-o"></i> customer_phone or customer_email (optional)</div>
    <% end %>
    <% @import.fields_for_csv[:required].each do |field| %>
        <div class="label label-danger field-label <%= field.keys.first %>" style="padding: 5px;"><i class='fa fa-square-o'></i> <%= field.keys.first %></div>
    <% end %>
    <% @import.fields_for_csv[:suggested].each do |field| %>
        <div class="label label-warning field-label <%= field.keys.first %>" style="padding: 5px;"><i class='fa fa-square-o'></i> <%= field.keys.first %></div>
    <% end %>

    </p>

    <div class="well processing" style="display:none;">
      <h2 class="processing">Processing...</h2>
      <h2 class="completed" style="display:none;">Done!</h2>
      Total: <div class="totals"></div> <br>
      Success Count: <div class="label label-success results"></div>  <br>
      Error Count: <div class="label label-danger results"></div>
      <p>Errors:</p>
      <ol>

      </ol>
      <p>
        Note: It IS safe to retry because we won't create duplicates for ticket number or invoice number, or customer phone/email.
      <ul>
        <li>number already taken is a duplicate ticket number</li>
        <li>customer_id required means we could not find a customer to attach them to</li>
        <li>'anything' cant be blank, add some filler in the spreadsheet</li>
      </ul>
      </p>
    </div>

    <div id="hot" style="overflow: scroll; height: 500px; width: 100%;" class="handsontable"></div>


  </div>
</div>

<div class="fields-list" data-required-fields="<%= @import.fields_for_csv[:required].map {|i| i.keys.first} %>" data-suggested-fields="<%= @import.fields_for_csv[:suggested].map {|i| i.keys.first.to_s} %>"></div>
<div class="cols-list" data-cols=""></div>

<script>
  window.status_poll_url = '<%= import_path(@import.uuid).html_safe %>/status_poll';
</script>
